In [1]:
import numpy as np
import pandas as pd
import pickle
import datetime

In [8]:
df = pd.read_pickle('parkingData_2011_4.p')
result = df[df['DATE'].isin(['2011-04-1'])] # need change date
result = result.assign(SESSION_START_DT=result.SESSION_START_DT.dt.round('min'))
result = result.assign(SESSION_END_DT=result.SESSION_END_DT.dt.round('min'))
# result

unique_block_array = result.STREET_BLOCK.unique()
len(unique_block_array)

245

In [10]:
block = result[result['STREET_BLOCK'].isin(['21ST ST 3200'])]
len(block)
# max_occupancy = 0

# int_for_date = 1301634000
# timestamp = datetime.datetime.fromtimestamp(int_for_date)
# date_time = timestamp.strftime('%Y-%m-%d %H:%M:%S')
# occupancy = 0

# while date_time != '2011-04-01 23:59:00':
#     for index, row in block.iterrows():
#         if row['SESSION_START_DT'] == timestamp:
#             occupancy += 1
#         elif row['SESSION_END_DT'] == timestamp:
#             occupancy -= 1
#     int_for_date += 60
#     timestamp = datetime.datetime.fromtimestamp(int_for_date) 
#     date_time = timestamp.strftime('%Y-%m-%d %H:%M:%S')
#     if occupancy > max_occupancy:
#         max_occupancy = occupancy
# print(max_occupancy)

304

In [12]:
block = result[result['STREET_BLOCK'].isin(['21ST ST 3200'])]

block
# dict_each_blocks = {}

,NET_PAID_AMT,SESSION_START_DT,SESSION_END_DT,PAYMENT_TYPE,DATE,PM_DISTRICT_NAME,POST_ID,STREET_BLOCK
29262,1.00,2011-04-01 13:06:00,2011-04-01 13:43:00,CASH,2011-04-01,Mission,221-32080,21ST ST 3200
34014,0.55,2011-04-01 12:03:00,2011-04-01 12:20:00,CASH,2011-04-01,Mission,221-32260,21ST ST 3200
34175,0.10,2011-04-01 17:53:00,2011-04-01 17:56:00,CASH,2011-04-01,Mission,221-32450,21ST ST 3200
40471,0.25,2011-04-01 12:04:00,2011-04-01 12:12:00,CASH,2011-04-01,Mission,221-32080,21ST ST 3200
41816,0.25,2011-04-01 14:59:00,2011-04-01 15:29:00,CASH,2011-04-01,Mission,221-32140,21ST ST 3200
45577,1.00,2011-04-01 15:52:00,2011-04-01 16:22:00,CASH,2011-04-01,Mission,221-32130,21ST ST 3200
48531,0.25,2011-04-01 12:22:00,2011-04-01 12:29:00,CASH,2011-04-01,Mission,221-32010,21ST ST 3200
49640,0.50,2011-04-01 13:37:00,2011-04-01 14:07:00,CREDIT CARD,2011-04-01,Mission,221-32040,21ST ST 3200
55501,0.25,2011-04-01 11:10:00,2011-04-01 11:18:00,CASH,2011-04-01,Mission,221-32410,21ST ST 3200
56740,1.50,2011-04-01 13:11:00,2011-04-01 14:07:00,CASH,2011-04-01,Mission,221-32100,21ST ST 3200
57969,1.05,2011-04-01 15:01:00,2011-04-01 15:33:00,CASH,2011-04-01,Mission,221-32390,21ST ST 3200
73626,1.75,2011-04-01 16:55:00,2011-04-01 17:47:00,CREDIT CARD,2011-04-01,Mission,221-32220,21ST ST 3200
75187,0.35,2011-04-01 11:32:00,2011-04-01 11:43:00,CASH,2011-04-01,Mission,221-32470,21ST ST 3200
75244,0.25,2011-04-01 14:25:00,2011-04-01 14:37:00,CASH,2011-04-01,Mission,221-32080,21ST ST 3200
77690,0.50,2011-04-01 14:52:00,2011-04-01 15:07:00,CASH,2011-04-01,Mission,221-32520,21ST ST 3200
78157,0.35,2011-04-01 16:27:00,2011-04-01 16:38:00,CASH,2011-04-01,Mission,221-32050,21ST ST 3200
78255,0.60,2011-04-01 16:06:00,2011-04-01 16:40:00,CASH,2011-04-01,Mission,221-32130,21ST ST 3200
79225,1.00,2011-04-01 15:03:00,2011-04-01 16:03:00,CREDIT CARD,2011-04-01,Mission,221-32400,21ST ST 3200
79298,1.00,2011-04-01 14:05:00,2011-04-01 14:37:00,CASH,2011-04-01,Mission,221-32100,21ST ST 3200
88212,1.00,2011-04-01 17:24:00,2011-04-01 18:00:00,SMART CARD,2011-04-01,Mission,221-32400,21ST ST 3200
95387,0.50,2011-04-01 17:31:00,2011-04-01 18:00:00,CASH,2011-04-01,Mission,221-32140,21ST ST 3200
98697,0.25,2011-04-01 17:26:00,2011-04-01 17:34:00,CASH,2011-04-01,Mission,221-32020,21ST ST 3200
103687,0.50,2011-04-01 13:57:00,2011-04-01 14:19:00,CASH,2011-04-01,Mission,221-32290,21ST ST 3200
108451,1.00,2011-04-01 13:07:00,2011-04-01 13:37:00,CREDIT CARD,2011-04-01,Mission,221-32040,21ST ST 3200
115086,0.50,2011-04-01 13:10:00,2011-04-01 13:25:00,CASH,2011-04-01,Mission,221-32020,21ST ST 3200
125144,0.25,2011-04-01 17:25:00,2011-04-01 17:32:00,CASH,2011-04-01,Mission,221-32080,21ST ST 3200
127985,0.55,2011-04-01 15:58:00,2011-04-01 16:14:00,CASH,2011-04-01,Mission,221-32390,21ST ST 3200
130379,0.15,2011-04-01 17:38:00,2011-04-01 18:00:00,CASH,2011-04-01,Mission,221-32300,21ST ST 3200
1374844,2.00,2011-04-01 10:00:00,2011-04-01 11:00:00,CREDIT CARD,2011-04-01,Mission,221-32080,21ST ST 3200
1388957,0.80,2011-04-01 09:26:00,2011-04-01 09:50:00,CASH,2011-04-01,Mission,221-32150,21ST ST 3200
...,...,...,...,...,...,...,...,...
17273105,2.15,2011-04-01 14:36:00,2011-04-01 15:36:00,CREDIT CARD,2011-04-01,Mission,221-32220,21ST ST 3200
17273259,0.10,2011-04-01 17:00:00,2011-04-01 18:00:00,CASH,2011-04-01,Mission,221-32050,21ST ST 3200
17276854,0.50,2011-04-01 17:31:00,2011-04-01 17:46:00,CASH,2011-04-01,Mission,221-32140,21ST ST 3200
17298753,0.65,2011-04-01 11:13:00,2011-04-01 11:36:00,CASH,2011-04-01,Mission,221-32060,21ST ST 3200
17310776,0.30,2011-04-01 16:34:00,2011-04-01 16:43:00,CASH,2011-04-01,Mission,221-32100,21ST ST 3200
17318370,1.05,2011-04-01 15:06:00,2011-04-01 15:48:00,CASH,2011-04-01,Mission,221-32490,21ST ST 3200
17321893,1.25,2011-04-01 16:49:00,2011-04-01 17:27:00,CASH,2011-04-01,Mission,221-32070,21ST ST 3200
17352059,0.25,2011-04-01 11:15:00,2011-04-01 11:42:00,CASH,2011-04-01,Mission,221-32040,21ST ST 3200
17362333,1.00,2011-04-01 11:46:00,2011-04-01 12:16:00,CASH,2011-04-01,Mission,221-32480,21ST ST 3200
17367142,1.75,2011-04-01 11:25:00,2011-04-01 12:24:00,CREDIT CARD,2011-04-01,Mission,221-32310,21ST ST 3200
17386009,1.00,2011-04-01 13:10:00,2011-04-01 13:40:00,CREDIT CARD,2011-04-01,Mission,221-32210,21ST ST 3200
17393552,1.00,2011-04-01 16:07:00,2011-04-01 17:07:00,CASH,2011-04-01,Mission,221-32130,21ST ST 3200
17393556,2.00,2011-04-01 13:41:00,2011-04-01 14:41:00,CREDIT CARD,2011-04-01,Mission,221-32010,21ST ST 3200
17401207,2.00,2011-04-01 13:57:00,2011-04-01 14:57:00,CASH,2011-04-01,Mission,221-32190,21ST ST 3200
17401269,0.25,2011-04-01 14:05:00,2011-04-01 14:41:00,CASH,2011-04-01,Mission,221-32300,21ST ST 3200
17428989,0.75,2011-04-01 14:08:00,2011-04-01 14:31:00,CASH,2011-04-01,Mission,221-32390,21ST ST 3200
17431306,0.50,2011-04-01 13:49:00,2011-04-01 14:04:00,CASH,2011-04-01,Mission,221-32420,21ST ST 3200
17458994,0.35,2011-04-01 17:30:00,2011-04-01 17:40:00,CASH,2011-04-01,Mission,221-32310,21ST ST 3200
18609480,0.50,2011-04-01 13:05:00,2011-04-01 13:20:00,CASH,2011-04-01,Mission,221-32390,21ST ST 3200
18711170,2.00,2011-04-01 12:58:00,2011-04-01 13:58:00,CASH,2011-04-01,Mission,221-32190,21ST ST 3200
18723390,1.00,2011-04-01 10:10:00,2011-04-01 11:10:00,SMART CARD,2011-04-01,Mission,221-32210,21ST ST 3200
18726215,0.20,2011-04-01 09:33:00,2011-04-01 09:39:00,CASH,2011-04-01,Mission,221-32010,21ST ST 3200
18726354,0.25,2011-04-01 09:08:00,2011-04-01 09:15:00,CASH,2011-04-01,Mission,221-32450,21ST ST 3200
18730229,0.32,2011-04-01 09:40:00,2011-04-01 10:40:00,SMART CARD,2011-04-01,Mission,221-32210,21ST ST 3200
18730392,0.25,2011-04-01 10:27:00,2011-04-01 10:45:00,CASH,2011-04-01,Mission,221-32420,21ST ST 3200
18753800,0.35,2011-04-01 10:27:00,2011-04-01 10:38:00,CASH,2011-04-01,Mission,221-32420,21ST ST 3200
18787942,0.25,2011-04-01 11:25:00,2011-04-01 11:49:00,CASH,2011-04-01,Mission,221-32040,21ST ST 3200
18799414,0.50,2011-04-01 11:56:00,2011-04-01 12:26:00,CASH,2011-04-01,Mission,221-32040,21ST ST 3200
18829164,0.10,2011-04-01 11:34:00,2011-04-01 11:52:00,CASH,2011-04-01,Mission,221-32040,21ST ST 3200
18860746,1.05,2011-04-01 13:05:00,2011-04-01 13:35:00,CASH,2011-04-01,Mission,221-32520,21ST ST 3200

In [107]:
for block_name in unique_block_array:
    block = result[result['STREET_BLOCK'].isin([block_name])]
    block
    max_occupancy = 0

    int_for_date = 1301634000 #need change date add 24*60*60
    timestamp = datetime.datetime.fromtimestamp(int_for_date)
    date_time = timestamp.strftime('%Y-%m-%d %H:%M:%S')
    occupancy = 0

    while date_time != '2011-04-01 23:59:00':#need to change
        for index, row in block.iterrows():
            if row['SESSION_START_DT'] == timestamp:
                occupancy += 1
            elif row['SESSION_END_DT'] == timestamp:
                occupancy -= 1
        int_for_date += 60
        timestamp = datetime.datetime.fromtimestamp(int_for_date) 
        date_time = timestamp.strftime('%Y-%m-%d %H:%M:%S')
        if occupancy > max_occupancy:
            max_occupancy = occupancy
    dict_each_blocks[block_name] = max_occupancy # save each block's max occupancy to the dictionary
#     print(dict_each_blocks)
#     print(block_name, max_occupancy)

KeyboardInterrupt:

In [13]:
    int_for_date = 1301634000 #need change date add 24*60*60
    timestamp = datetime.datetime.fromtimestamp(int_for_date)
    date_time = timestamp.strftime('%Y-%m-%d %H:%M:%S')
    date_time

'2011-04-01 00:00:00'

In [17]:
block = result[result['STREET_BLOCK'].isin(['21ST ST 3200'])]
# len(block)
# print(block.dtypes)
max_occupancy = 0



# int_for_date = 1301634000
# timestamp = datetime.datetime.fromtimestamp(int_for_date)
# date_time = timestamp.strftime('%Y-%m-%d %H:%M:%S')
# occupancy = 0

# while date_time != '2011-04-01 23:59:00':
#     for index, row in block.iterrows():
#         if row['SESSION_START_DT'] == timestamp:
#             occupancy += 1
#         elif row['SESSION_END_DT'] == timestamp:
#             occupancy -= 1
#     int_for_date += 60
#     timestamp = datetime.datetime.fromtimestamp(int_for_date) 
#     date_time = timestamp.strftime('%Y-%m-%d %H:%M:%S')
#     if occupancy > max_occupancy:
#         max_occupancy = occupancy
# print(max_occupancy)

NET_PAID_AMT               float64
SESSION_START_DT    datetime64[ns]
SESSION_END_DT      datetime64[ns]
PAYMENT_TYPE                object
DATE                datetime64[ns]
PM_DISTRICT_NAME            object
POST_ID                     object
STREET_BLOCK                object
dtype: object